<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanjian.star.search.dao.StarDAO">
    <select id="getAllTrack" parameterType="hashmap" resultType="hashmap">
        SELECT
            id,
            name,
            version,
            artist_list,
            feat_list,
            lyricist_list,
            composer_list,
            arranger_list,
            duration,
            english_name,
            no_lyrics
        FROM
            kanjian_ddex_track
        WHERE
            id&gt;#{start} AND id&lt;=#{end}
    </select>
    <select id="getMaxId" resultType="int">
        select MAX(id) FROM kanjian_ddex_track
    </select>
</mapper>

